<template>
    <div class="introduction">
      <img src="../assets/logo.png">
      <h3>{{ msg }}</h3>
      <h4>A Playable Post on Tribalism</h4>
      <p class="flow-text subheading">
        In Kenya, we have over 40 tribes. We are culturally diverse. Yet, at every election period, or any major political event for that matter, our culturally diversity works against us- <em>it separates us</em>.
      </p>

      <p>
        This is a playable post that seeks to educate the general public how divisive our perceptions on tribes is. This post has been adapted from Ncase's work on Polygons which you can find <a href="http://ncase.me/polygons/" target="_blank">here</a>
      </p>

      <button @click="slide1">
        Play
      </button>
    </div>
</template>

<script>
  export default {
    name: 'Introduction',
    data() {
      return {
        msg: 'In To The Depths Of Tribalism',
        transitionName: 'slide-fade',
      };
    },
    methods: {
      slide1() {
        this.$router.push('scene/1');
      },
    },
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  p {
      width: 60%;
      line-height: 1.5;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
  }
  ul {
      list-style-type: none;
      padding: 0;
  }

  li {
      text-decoration: none;
      display: inline-block;
      margin: 0 10px;
  }

  a {
      list-style-type: none;
      color: #42b983;
  }

  button {
      &:after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 0;
          top: 50%;
          left: 50%;
          background: #fff;
          opacity: 0;
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }

      &:hover,
      &:active {
          color: #35495E;
          z-index: 0;
      }

      &:hover:after {
          height: 160%;
          opacity: 1;
      }

      &:active:after {
          height: 400%;
          opacity: 1;
      }

      color: #fff;
      overflow: hidden;
      background: #35495E;
      letter-spacing: 1px;
      font-weight: 700;
      outline: none;
      position: relative;
      cursor: pointer;
      padding: 25px 80px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
</style>
