<template>

  <div>
    <p>
      <router-link to='/scene/1'>
        <v-btn outline small fab color="indigo">1</v-btn>
      </router-link>
      <router-link to='/scene/2'>
        <v-btn outline small fab color="indigo">2</v-btn>
      </router-link>
      <router-link to='/scene/3'>
        <v-btn outline small fab color="indigo">3</v-btn>
      </router-link>
      <router-link to='/scene/4'>
        <v-btn outline small fab color="indigo">4</v-btn>
      </router-link>
      <router-link to='/scene/5'>
        <v-btn outline small fab color="indigo">5</v-btn>
      </router-link>
      <router-link to='/scene/6'>
        <v-btn outline small fab color="indigo">6</v-btn>
      </router-link>
      <router-link to='/scene/7'>
        <v-btn outline small fab color="indigo">7</v-btn>
      </router-link>
      <router-link to='/scene/8'>
        <v-btn outline small fab color="indigo">8</v-btn>
      </router-link>
      <router-link to='/scene/9'>
        <v-btn outline small fab color="indigo">9</v-btn>
      </router-link>
    </p>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'Scene1',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  p {
  width: 60%;
  line-height: 1.5;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  }
</style>
