<template>

    <div>
        <p>
            For the sake of simplicity, let's create a fictional country with fictional tribes. Our fictional country, Kôlowezi, has 2 major tribes: Ariwaya and Logomelo (I made up those names after looking at <a href="https://en.wikipedia.org/wiki/List_of_fictional_African_countries" target="_blank">this</a> list).
        </p>
        <peopleCaption />
        <p>
            Our country, Kôlowezi, comprises 50% Ariwaya people and 50% Logomelo people; and everyone is <em>slightly</em> tribalist. These people console themselves that it is their pride in their culture that only drives them to be "slightly" tribal, in fact, everyone prefers to be in a diverse crowd.
        </p>
    </div>
</template>

<script>
  import peopleCaption from '@/components/playables/peopleCaption';
  import miniIntro from '@/components/playables/miniIntro';

  export default {
    name: 'Scene1',
    components: {
      peopleCaption,
      miniIntro,
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
 p {
     width: 60%;
     line-height: 1.5;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
 }
</style>
