<template>
  <div>
    <p>
      Kôlowezians will only want to move if they are unhappy with their immediate neighborhood. Once a Kôlowezian is happy where they are, <em>you can't move them until they're unhappy with their neighbors again</em>. In their heads, the Kôlowezians have one simple rule:
    </p>

    <p class="headline">
      "I wanna move if less than 1/3 of my neighbors are like me."
    </p>
    <em>[Canvas here]></em>

    <p>
      Harmless, right? Every Kôlowezian would be happy with a mixed neighborhood. Surely their small bias about tribe can't affect the larger shape of society, right? Well ...
    </p>

    <em>[Canvas here]</em>

    <p>
      Goddamn, our society has become super segregated. Goddaaaamn!!!! "Kumbe utajua hujui".
    </p>

    <p>
      Sometimes, a neighborhood just becomes an Ariwayan turf, and it's not their fault(Ariwayans) if no Logomelo folks wanna stick around. And a Logomelo neighborhood would become an Ariwayan neighborhood, but they can't help it if Ariwayans ain't interested.
    </p>
    <em> [Canvas here] </em>
  </div>
</template>

<script>
  export default {
    name: 'Scene2',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
