<template>
  <div>
    <!-- Drag and drop unhappy polygons until nobody is unhappy(just move them to random empty sports; don't think too much about it) -->
    <em>[Canvas]</em>
    <p>
      In this next bit, unhappy people automatically move to random empty spots. There's also a graph that tracks how much segregation there is over time.
    </p>

    <em>[Canvas]</em>

    <p>
      This has been a bit counter-intuitive. These people are good, decent, hard-working people; and yet, though every individual only has a slight bias, the entire society is split along very clear tribal lines. The implications of this is very scary.
    </p>
    <p>
      Some leaders among the people may take advantage of this and divide the people even further in a bid to cement their power.
    </p>

  </div>
</template>

<script>
  export default {
    name: 'Scene3',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
