<template>
  <div>
    <em> canvas here </em>
    <p class="headline">
      Small individual bias can lead to large collective bias.
    </p>

    <p>
      Equality is an unstable equilibrium. The smallest of bias can push a whole society past the tipping point. Well, what if we taught our people to have zero bias?(or maybe more bias, that's upto you):
    </p>
    <em> canvas here </em>

    <p>
      Notice how much more segregated things become, when you increase the bias beyond 33%. What if the threshold was at 50%? Seems reasonable for someone in our country to prefer not being in the minority...
    </p>

    <em> canvas here </em>

    <p>
      So yeah, just turn everyone's bias to 0, right? Haha, Well; things in the real world are not that dandy. The real world doesn't start a new with a random shuffling of citizens every day. Everyday, you're not shuffling.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Scene4',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
