<template>
  <div>

    <p>
      Let's assume the world starts segregated. What happens when you lower the bias?
    </p>

    <em> canvas here </em>

    <p>
      See what doesn't happen? No change. No mixing back together. In a world where bias never existed, being unbiased isn't enough! We're gonna need active measures. What if people wanted people wanted to seek more variety? Perhaps this is the so called rise of millenials who seek tribalism.
    </p>

    <em> canvas here </em>

    <p>
      Woah. Even though each person would be okay with having up to 90% of their neighbors that are like them, they all mix together! Let's see this play out on a larger scale, when we change the amount of bias and anti-bias for all people
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Scene5',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
