<template>
  <div>
    <p class="headline">
      world starts segregated. what happens when people demand even the smallest bit of diversity?
    </p>

    <p>
      All it takes is a change in the perception of what an acceptable environment looks like. So, fellow people, remember it's not about Logomelo vs Ariwaya, it's about deciding what we want the world to look like, and settling for no less.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Scene6',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
