<template>
  <div>
    <h4>GET THEM ALL IN THE BOX OF FRIENDSHIP</h4>
(hint: don't move them straight to the box; keep the pairs close together)
 <em> canvas here </em>

 <p>
   At first, going out on your own can be isolating... but by working together, step by step, we'll get there.
 </p>
  </div>
</template>

<script>
  export default {
    name: 'Scene7',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
