<template>
  <div>
    <p>
      A sandbox to play around in
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Scene8',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
7
