<template>
  <div>
    <h3>Wrapping up! </h3>
  </div>
</template>

<script>
  export default {
    name: 'Scene9',
  };
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
