<template>
  <div id="mini_intro">
    <canvas id="canvas"></canvas>
    <div id="reset">reset</div>
  </div>
</template>

<script>
  import '@/lib/mini_intro';
  // import '@/lib/Mouse';

  // import '@/lib/mini_blah';
  // import { addAsset, Draggable, render, isDone, step} from '@/lib/mini';
  export default {
    name: 'miniIntro',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  canvas#canvas {
  border: solid 2px red!important;;
  }
</style>
