<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs4 offset-xs2>
        <figure>
          <img src="../../assets/people/yay_square.png" alt="Ariwaya person">
          <figcaption>An Ariwayan person</figcaption>
        </figure>
      </v-flex>
      <v-flex xs4>
        <figure>
          <img src="../../assets/people/yay_triangle.png" alt="Logomelo person">
          <figcaption>An Logomelo person</figcaption>
        </figure>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'peopleCaption',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
